/* CSS Reset */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Abel", sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  background-color: white;
}

/* Navigation Bar */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

/* Navigation Bar: Logo */
#logo {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 3px 34px;
}

#logo img {
  height: 80px;
  width: 120px;
  margin: 0px 5px;
}

/* Navigation Bar: List Styling */

#navbar ul {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#navbar::before {
  content: "";
  position: absolute;
  background-color: #34421e;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#navbar ul li {
  list-style: none;
  color: white;
  font-size: 1.3rem;
}

#navbar ul li a {
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

#navbar ul li a:hover {
  text-shadow: 2px 2px 5px #c19434;
}

/* Navigation Bar: Log In */

#reg {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0px 2px;
}

#reg a {
  text-decoration: none;
}

a span:hover {
  text-shadow: 2px 2px 5px #c19434;
}

span {
  padding: 0px 7px;
  color: white;
  font-size: 1.3rem;
}

/* About section */

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#head {
  background-color: #34421e;
  padding-top: 110px;
  padding-bottom: 30px;
}

#vid {
  background-color: white;
  display: flex;
  flex-direction: column;
}

video {
  width: 220px;
  height: 220px;
  border: 2px solid #c19434;
  border-radius: 100%;
  align-self: center;
  margin-top: 30px;
  margin-bottom: 30px;
  object-fit: cover;
  object-position: 50% 50%;
  box-shadow: 0px 10px 20px 0px #c19434;
}

#content {
  color: #0e0b16;
  font-size: 1.4rem;
  margin: 20px 400px;
  padding: 10px 10px;
  text-align: center;
  font-weight: bold;
}

#content p{
  margin: 50px 0px;
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #34421e;
  color: white;
  padding: 10px 2px;
  height: 100px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.foot div{
  font-size: 1.3rem;
}

/* Utilities */

#active a:visited {
  color: #c19434;
  text-decoration: underline;
}

h2 {
  color: #c19434;
  font-size: 4rem;
  text-shadow: 0px 0px 5px #c19434;
}

hr {
  height: 2px;
  background-color: #c19434;
}

.center {
  text-align: center;
}